<% if Webhook.where(:project_id => @project.id).first%>
<div class="box tabular">
<% Webhook.where(:project_id => @project.id).each do |webhook|%>
<%= form_tag(update_webhook_path(@project, webhook.id), :method => :put, :class => "tabular") do %>
<span>
  <span><strong>URL</strong></span>
  <%= text_field_tag :url, webhook.url, :size => 80 %>
  <span><strong>Secret key</strong></span>
  <%= password_field_tag :secret_key, webhook.secret_key, :size => 40 %>
  <%= submit_tag l(:button_update) %>
</span>
<% end %>
<%= link_to l(:button_delete), delete_webhook_path(@project, webhook.id), :class => "icon icon-del", :method => :delete, :confirm => l(:text_are_you_sure) %>
</br>
<% end %>
</div>
<% end %>

<%= form_tag(create_webhook_path(@project), :method => :post, :class => "tabular") do %>
<div class="box tabular">
<span>
  <span><strong>URL</strong></span>
  <%= text_field_tag :url, '', :size => 80 %>
  <span><strong>Secret key</strong></span>
  <%= password_field_tag :secret_key, '', :size => 40 %>
  <%= submit_tag l(:button_add) %>
</span>
</div>
<% end %>
